#
FILE_INPUT "DISC735_DEBUG.env"
#
FILE_TARGET "BASIC_STM32H735.app"
FILE_TARGET "TOUCH_SCREEN_STM32H735.app"
FILE_TARGET "USB_STM32H735.app"
FILE_TARGET "TEST_FLASH_STM32H735.app"
FILE_TARGET "TEST_SDRAM_STM32H735.app"
